{
	"root":  true,
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"project": "tsconfig.json",
		"sourceType": "module"
	},
	"plugins": ["@typescript-eslint/eslint-plugin"],
	"extends": [
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier",
		"prettier/@typescript-eslint"
	],
	"env": {
		"node": true,
		"jest": true
	},
	"rules": {
		"indent": ["error", 4],
        "camelcase": "error",
		"semi": ["error", "always"],
		"quotes": ["error", "double"],
		"no-prototype-builtins": 0,
        "no-async-promise-executor": 0,
        "no-case-declarations": 0,
        "require-atomic-updates": 0,
        "no-empty": 0,
        "no-console": ["error", { "allow": ["warn", "error"] }],
		"@typescript-eslint/interface-name-prefix": 0,
		"@typescript-eslint/explicit-function-return-type": 0,
		"@typescript-eslint/no-explicit-any": 0
	}
}
